body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:1397px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:1397px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:690px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
