body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:326px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:326px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:155px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
